@use '../styles/global' as *;

#skills {
    padding-top: 10vh;
}

.my-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .skills-box {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 5%;
        width: 100%;
        .skill {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 180px;
            height: 160px;
            border: 1.6px solid $primary;
            margin-bottom: 40px;
            p {
                margin-top: 25px;
                font-weight: 700;
            }
        }
    }
}